<div class="fullscreen landing parallax" style="background-image:url('/assets/images/bg.jpg');" data-img-width="2000" data-img-height="1333" data-diff="100">

  <div class="overlay">
      <div class="container">
          <div class="row">
              <div class="col-md-7">

                  <!-- /.logo -->
                  <div class="logo wow fadeInDown"> <a href="index.html"></a></div>

                  <!-- /.main title -->
                  <h1 class="wow fadeInLeft">
                      CON<span class="highlight">É</span>CTATE
                  </h1>

                  <!-- /.header paragraph -->
                  <div class="landing-text wow fadeInUp">
                      <p>Medítele  para resolver los retos de las mejores empresas del país.

<br>Encuentra una red de profesionales para el desarrollo de tus necesidades.
</p>
                  </div>				  

                  <!-- /.header button -->
                  <div class="head-btn wow fadeInLeft">
                      <a href="#feature" class="btn-primary">PERSONA</a>
                      <a href="#download" class="btn-primary">EMPRESA</a>
                  </div>



              </div> 

              <!-- /.signup form -->
              <div class="col-md-5">

                  <div class="signup-header wow fadeInUp">
                      <h3 class="form-title text-center">GET STARTED</h3>
                      <app-register></app-register>
                  </div>				

              </div>
          </div>
      </div> 
  </div> 
</div>

