<div class="fullscreen landing parallax" style="background-image:url('/assets/images/bg.jpg');" data-img-width="2000"
  data-img-height="1333" data-diff="100">

  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-7">

          <!-- /.logo -->
          <div class="logo wow fadeInDown"> <a href="index.html"></a></div>

          <!-- /.main title -->
          <h1 class="wow fadeInLeft">
            CON<span class="highlight">É</span>CTATE
          </h1>

          <!-- /.header paragraph -->
          <div class="landing-text wow fadeInUp">
            <p>Medítele para resolver los retos de las mejores empresas del país.

              <br>Encuentra una red de profesionales para el desarrollo de tus necesidades.
            </p>
          </div>

          <!-- /.header button -->
          <div class="head-btn wow fadeInLeft">
            <a href="#feature" class="btn-primary">RETADORES</a>
            <a href="#download" class="btn-primary">SOLUCIONADORES</a>
          </div>



        </div>

        <!-- /.signup form -->
        <div class="col-md-5">

          <div *ngIf="dataSharingService.isRegister" class="signup-header wow fadeInUp">
            <h3 class="form-title text-center">Registrate</h3>
            <app-register></app-register>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.feature section -->
<div id="feature">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-sm-12 text-center feature-title">
                    <!-- /.feature title -->
                    <h2>EMPIEZA AHORA</h2>
                    <p>Crea tu perfil y conéctate.<br>Encuentra una red de profesionales dispuestos a ayudarte a resolver tus necesidades. Encuentra miles de proyectos para desarrollar tus capacidades y crecer profesionalmente</p>
                </div>
            </div>
            <div class="row row-feat">
                <div class="col-md-12">
                    <!-- /.feature 1 -->
                    <div class="col-sm-3 feat-list">
                        <i class="pe-7s-notebook pe-5x pe-va wow fadeInUp"></i>
                        <div class="inner">
                            <h4>1. PUBLICA</h4>
                            <p>¿Qué necesitas? Describe tu reto, tu presupuesto y ponle fecha.
                            </p>
                        </div>
                    </div>

                    <!-- /.feature 2 -->
                    <div class="col-sm-3 feat-list">
                        <i class="pe-7s-cart pe-5x pe-va wow fadeInUp" data-wow-delay="0.2s"></i>
                        <div class="inner">
                            <h4>2. ELIGE</h4>
                            <p>Los postulantes querrán ayudarte en tu proyecto, elige el mejor.</p>
                        </div>
                    </div>

                    <!-- /.feature 3 -->
                    <div class="col-sm-3 feat-list">
                        <i class="pe-7s-cash pe-5x pe-va wow fadeInUp" data-wow-delay="0.4s"></i>
                        <div class="inner">
                            <h4>3. NEGOCIA</h4>
                            <p>Conctacta tu profesional, cierra el negocio y manos a la obra.</p>
                        </div>
                    </div>

                    <!-- /.feature 4 -->
                    <div class="col-sm-3 feat-list">
                        <i class="pe-7s-users pe-5x pe-va wow fadeInUp" data-wow-delay="0.6s"></i>
                        <div class="inner">
                            <h4>4. CALIFICA</h4>
                            <p>Cuéntanos como te fue con tu proyecto, dale una calificación a tu profesional.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /.feature 2 section -->
    <div id="feature-2">
        <div class="container">
            <div class="row">

                <!-- /.feature content -->
                <div class="col-md-6 wow fadeInLeft">
                    <h2>Destácate, aumenta tu poder</h2>
                    <p>Sabemos que tienes un gran talento, te ayudamos a realizar tus habilidades debido a falta de oportunidades. Conecta está pensada en llegar a los jóvenes de todas los sectores a través de los puntos vive digital ubicados en la ciudad, de la mano de MinTIC y la Alcaldía de Cali, para alcanzar a todos los sectores de la ciudad.
                             Conecta disminuye la brecha digital, ¡únete!
                    </p>

                    <div class="btn-section"><a href="#download" class="btn-default">Quiero trabajar</a></div>

                </div>

                <!-- /.feature image -->
                <div class="col-md-6 feature-2-pic wow fadeInRight">
                    <img src="assets/images/destacado.png" alt="destacado" class="img-responsive">
                </div>				  
            </div>			  

        </div>
    </div>


    <!-- /.download section -->
    <div id="download">
        <div class="action fullscreen parallax" style="background-image:url('assets/images/bg2.jpg');" data-img-width="2000" data-img-height="1333" data-diff="100">
            <div class="overlay">
                <div class="container">
                    <div class="col-md-8 col-md-offset-2 col-sm-12 text-center">

                        <!-- /.download title -->
                        <h2 class="wow fadeInRight">¿Estás buscando los mejores profesionales?</h2>
                        <p class="download-text wow fadeInLeft">Con el perfil de empresa certificada por CONECTA, tendrás el reconocimento y el respaldo que buscan los profesionales para hacer sus mejores creaciones.</p>

                        <!-- /.download button -->
                        <div class="download-cta wow fadeInLeft">
                            <a routerLink="/hall" class="btn-primary">Encuentralos aquí</a>
                        </div>
                    </div>	
                </div>	
            </div>
        </div>
    </div>      
    <!-- /.trabajos section -->
    <div id="package">
        <div class="container">
            <div class="text-center">

                <!-- /.pricing title -->
                <h2 class="wow fadeInLeft">PROYECTOS DISPONIBLES</h2>
                <div class="title-line wow fadeInRight"></div>
            </div>
            <div class="row package-option">

                <!-- /.package 1 -->
                <div class="col-sm-3">
                    <div class="price-box wow fadeInUp">
                        <div class="price-heading text-center">

                            <!-- /.package icon -->
                            <i class="pe-7s-target pe-5x"></i>

                            <!-- /.package name -->
                            <h3>Desarrollo de Software</h3>
                        </div>

                        <!-- /.package features -->
                        <ul class="price-feature text-center">
                            <li><strong>238</strong> Proyectos disponibles</li>
                            <li><strong>37</strong> Empresas</li>
                        </ul>
                        <!-- /.package button -->
                        <div class="price-footer text-center">
                            <a class="btn btn-price" routerLink="/trabajos">Mídetele</a>
                        </div>	
                    </div>
                </div>

                <!-- /.package 2 -->
                <div class="col-sm-3">
                    <div class="price-box wow fadeInUp" data-wow-delay="0.2s">
                        <div class="price-heading text-center">

                            <!-- /.package icon -->
                            <i class="pe-7s-joy pe-5x"></i>

                            <!-- /.package name -->
                            <h3>Aplicaciones</h3>
                        </div>
                        <!-- /.package features -->
                        <ul class="price-feature text-center">
                            <li><strong>34</strong> Proyectos disponibles</li>
                            <li><strong>3</strong> Empresas</li> 
                        </ul>

                        <!-- /.package button -->
                        <div class="price-footer text-center">
                            <a class="btn btn-price" routerLink="/trabajos">Mídetele</a>
                        </div>
                    </div>
                </div>	

                <!-- /.package 3 -->
                <div class="col-sm-3">
                    <div class="price-box wow fadeInUp" data-wow-delay="0.4s">
                        <div class="price-heading text-center">

                            <!-- /.package icon -->
                            <i class="pe-7s-display1 pe-5x"></i>

                            <!-- /.package name -->
                            <h3>Páginas Web</h3>
                        </div>

                        <!-- /.price -->
                        <!-- /.package features -->
                        <ul class="price-feature text-center">
                            <li><strong>132</strong> Proyectos diponibles</li>
                            <li><strong>25</strong> Empresas</li>
                        </ul>

                        <!-- /.package button -->
                        <div class="price-footer text-center">
                            <a class="btn btn-price" routerLink="/trabajos">Mídetele</a>
                        </div>	
                    </div>
                </div>

                <!-- /.package 4 -->
                <div class="col-sm-3">
                    <div class="price-box wow fadeInUp" data-wow-delay="0.6s">
                        <div class="price-heading text-center">

                            <!-- /.package icon -->
                            <i class="pe-7s-video pe-5x"></i>

                            <!-- /.package name -->
                            <h3>Multimedia</h3>
                        </div>

                        <!-- /.price -->
                        <!-- /.package features -->
                        <ul class="price-feature text-center">
                            <li><strong>47</strong> Proyectos disponibles</li>
                            <li><strong>5</strong> Empresas</li>
                        </ul>

                        <!-- /.package button -->
                        <div class="price-footer text-center">
                            <a class="btn btn-price" routerLink="/trabajos">Mídetele</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>     

